#intro {
}

#intro h1 {
	font-size:300%;
	line-height:1.2;
	min-height: 50px;
	margin:0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2em;
	text-align: right; 
	text-shadow:-10px 0 10px rgba(0,114,206,.15);
}

#intro .attribution {
	font-family: "museo-sans-1","museo-sans-2",sans-serif; 
	font-weight: normal;
	text-align: right;
	font-size: 70%;
	line-height: .3;
	text-shadow: none;
	padding:.6em 0;
	overflow: hidden; 
}

.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif; 
	font-style: italic; 
	font-weight: normal; 
	line-height: 0;
}

.slide img { 
	display:block; 
	margin:1em auto; 
	max-width:600px;
	width:70%;
}

.slide .a11y_resources li {
	display:inline-block;
	font-size:.9em;
	line-height:1.1;
	text-align:center;
	vertical-align:top;
	width:30%;
}

.slide .a11y_resources img {
	max-width:290px;
}

.slide .credits li {
	font-size:.8em;
	font-weight:normal;
}


#css-controls-demo label {
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio:0) {
/* hack to avoid using the Object element in Safari/WebKit, due to WebKit Bug 27190 */
	/* object[type="image/svg+xml"] {
		display: none;
	} */

}

.slide h2 span.shift_left { color:rgb(12,78,113); font-family:"museo-slab-1","museo-slab-2",serif; font-size:105%; } /* #0c4e71 */ /* orange rgb(252,152,62) #fc983e */

em { font-style:italic; }
small { font-size:50% !important; }
form input { 
	background: #f6f6f6;
	padding:.25em;
}